# Clear all existed custom votes first
clear_votes

# Add new votes
# Map format: add_vote "DisplayText" "change_map \"MapName\""
# Empty line: add_vote " " "echo null"
# NOTE: Client not support same lines so just increase space amount each new empty line

add_vote "── Internal Maps ──" "echo null"
add_vote "Tester" "change_map \"Tester\""
add_vote "── Test Maps ──" "echo null"
