# Format: add_vote "DisplayText" "change_map \"MapName\""

add_vote "── Test Maps ──" "echo null"
add_vote "Paris_V2" "change_map \"Paris_V2\""
add_vote "Gloom" "change_map \"Gloom\""
add_vote " " "echo null"
add_vote "Tester" "change_map \"Tester\""
