# Clear all existed custom votes first
clear_votes

# Add new votes
# Map format: add_vote "DisplayText" "change_map \"MapName\""
# Empty line: add_vote " " "echo null"
# NOTE: Client not support same lines so just increase space amount each new empty line

add_vote "── Internal Maps ──" "echo null"
add_vote "Tester" "change_map \"Tester\""
add_vote "AmlorDer1" "change_map \"AmlorDer1\""
add_vote "── Stand By Maps ──" "echo null"
add_vote "Gloom" "change_map \"Gloom\""
add_vote "Shocked_Snake" "change_map \"Shocked_Snake\""
add_vote "Bee_Castle" "change_map \"Bee_Castle\""
add_vote "Briz" "change_map \"Briz\""
add_vote "MOMO" "change_map \"MOMO\""
add_vote "── Test Maps ──" "echo null"
add_vote "Blue_Hell" "change_map \"Blue_Hell\""
add_vote "Panic" "change_map \"Panic\""
add_vote "Aerusall" "change_map \"Aerusall\""
add_vote "Black_Core" "change_map \"Black_Core\""
add_vote "whathappens" "change_map \"whathappens\""
add_vote "meliodas" "change_map \"meliodas\""
add_vote "Amber Void" "change_map \"Amber Void\""
